<div class="page-header page-header-extra-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('{{settings.bannerImage}}');">
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="card">
            <div class="card-body dim">
              <a class="nada" routerLink="/apis/local"  routerLinkActive="active">
                <h3 class="card-title">Portal API</h3>
                <p class="card-text text-black">The REST API powering this developer portal.</p>
              </a>
              <a href="{{env.service}}/swagger" class="btn btn-outline-info" target="_blank">Swagger UI Redirect</a>
            </div>
          </div>
      </div>
      <div *ngFor="let api of apis" class="col-md-4">
          <div class="card">
            <div class="card-body dim">
              <a class="nada" routerLink="/apis/{{api.id}}" routerLinkActive="active">
                <h3 class="card-title">{{api.displayTitle}}</h3>
                <p class="card-text text-black fit-text">{{api.displayDescription}}</p>
              </a>
              <a *ngIf="api.swaggerUiUrl" href="{{api.swaggerUiUrl}}" class="btn btn-outline-info" target="_blank">Swagger UI Redirect</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
