.infoBlock {
  width: 18rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.infoBlockSize {
  max-height: 600px;
  min-height: 600px;
}

.nada {
  color: darkslategray;
}

a.nada:link {
  text-decoration: none;
}

a.nada:visited {
  text-decoration: none;
}

a.nada:active {
  text-decoration: none;
}

div.card-body.dim:hover {
  background-color: whitesmoke;
  color: darkslategray;
}
